.nav-bar {
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;

  a {
    color: #808284;
  }

  .nav-left {
    margin: 0 0 0 40px;
    width: 40%;

    a {
      margin: 0 30px 0 0;
    }
  }

  .nav-right {
    display: flex;
    justify-content: flex-end;
    margin: 0 40px 0 0;
    width: 40%;
    a {
      margin: 0 0 0 30px;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    width: 20%;
  }
}
